<nav>
  <% if logged_in? %>
    <h2>Here's your brood:</h2>
      <% if current_user.kids.empty? %>
      <ul>
        <li>You have 0 kids registered. Lucky.</li>
      </ul>
      <% else %>
      <ul>
        <% current_user.kids.each do |kid| %>
          <li><a href="/kids/<%=kid.id%>"><%= kid.name %> - <%= kid.stage.name %></a></li>
        <% end %>
      </ul>
      <% end %>
    <a href="/kids/new"> Register New Kid!</a>
  <% else %>
    <p>Please log in or signup below:</p>
      <a href="/signup">Sign Up</a>
      <a href="/login"> Sign In </a>
  <%end %>

</nav>
