<h3>Toys you've collected:</h3>
  <% if current_user.toys.empty? %>
    <p>You have 0 zero toys tracked.<p>
  <% else %>
  <ul>
  <% current_user.toys.each do |toy| %>
    <li><a href="/toys/<%=toy.id%>"><%= toy.name %></a> || <a href="/kids/<%=toy.kid.id%>"><%= toy.kid.name %></a></li>
  <% end %>
  </ul>
  <% end %>
  <a href="/toys/new"> Track a New Toy!</a>
