    <h3>Categories</h3>
    <ul class="list-unstyled">
    <% @categories.each do |category| %>
      <li><a href="/categories/<%=category.id%>"><%= category.name %></a></li>
      <% end %>
    </ul>
