<nav>
  <% if logged_in? %>
    <p><strong>Toy Categories</strong></p>

    <% @categories.each do |category| %>
      <li><a href="/categories/<%=category.id%>"><%= category.name %></a></li>
      <br>
  <% end %>
  <% else %>
  <p>Please log in or signup below:</p>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>
