<% if logged_in? %>
    <h2>Categories</h2>
    <ul>
    <% @categories.each do |category| %>
      <li><a href="/categories/<%=category.id%>"><%= category.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>Please log in or signup below:</p>
      <a href="/signup">Sign Up</a>
      <a href="/login"> Log In </a>
  <%end %>
