<nav>
  <% if logged_in? %>
    <p><strong>Manufacturers you've logged:</strong></p>
    <% if user_created_manufacturers.empty? %>
      <p><strong>No manufacturers have been added to your list.</strong></p>
    <% else %>
      <% user_created_manufacturers.each do |manufacturer| %>
        <li><a href="/manufacturers/<%=manufacturer.id%>"><%= manufacturer.name %></a></li>
        <% end %>
    <% end %>
  <% else %>
  <p>Please log in or signup below:</p>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
<%end %>
